body{
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

.container .row-form{
    padding: 25px 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Lato", Georgia, serif;
}

.container form .project-details{
    display: flex;
    flex-wrap: wrap;
}

form .project-details .input-box{
    width: calc(100% / 0.1 - 50px);
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.project-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 2px;
    border: 1px solid #999;
    padding-left: 15px;
    font-size: medium;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.project-details .input-box .details{
    font-weight: 400;
}

.project-details .input-box input:focus,
.project-details .input-box input:valid{
    border: 2px solid rgb(61, 61, 61);
}

label{
    font-size: 11px;
    margin-right: 20px;
}


form .project-details .details-types{
    margin-top: 40px;
}

form .project-types .types-class{
    margin-right: 5px;
}

.container .row-form form .project-types .custom-checkbox input[type="checkbox"] {
    background: lavender;
}

form .project-details .project-types .custom-checkbox{
    background: lawngreen;
}
form input[type="checkbox"]{
    background: lawngreen;
}
